:root {
    --background-color: rgb(56,56,56);
    --text-color-primary: "white";
    --text-color-secondary: #A0A0A0;
    --titlebar-height: 3rem;
    --playlist-column-margin: 1rem;
    --playlist-column-width: max(22em, 20vw);
    --sidebar-width: 3rem;
    --playback-height: 3rem;
    --sidebar-margin: .5rem;
    --sidebar-offset: 40%;
}

body {
    margin: 0px;
}

#titlebar {
    width: 100%;
    height: var(--titlebar-height);
    background-color: var(--background-color);
}

#graph_window {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
}

#playlist_column {
    width: var(--playlist-column-width);
    height: calc(100% - var(--titlebar-height));
    position: absolute;
}

#sidebar_column {
    width: var(--sidebar-width);
    height: 100%;
    top: 0;
    position: absolute;
    pointer-events: none;
    right: var(--sidebar-margin);
}

#playlist_editor {
    width: calc(100% - 3 * var(--playlist-column-padding));
    height: max(25rem, calc(100% - 3 * var(--playlist-column-margin) - 48px));
    background-color: var(--background-color);
    border-color: black;
    border-width: 1;
    border-style: solid;
    border-radius: 1rem;
    overflow: hidden;
    margin: var(--playlist-column-margin);
    align-items: center;
}


#playback {
    width: calc(100%);
    height: var(--playback-height);
    background-color: var(--background-color);
    margin: var(--playlist-column-margin);
}
    
#scroll_list {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    overflow: auto;
}
