:root {
    --background-color: black;
    --titlebar-height: 2.5em;
    --playlist-column-margin: 1em;
    --playlist-column-width: 30em;
    --sidebar-width: 7em;
    --playback-height: 3em;
    /* --playlist-column-margin: 1em; */
    --sidebar-margin: .5em;
}

body {
    margin: 0px;
}

#titlebar {
    width: 100%;
    height: var(--titlebar-height);
    background-color: var(--background-color);
}

#graph_window {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
}

#playlist_column {
    width: var(--playlist-column-width);
    height: calc(100% - var(--titlebar-height));
    position: absolute;
}

#sidebar_column {
    width: var(--sidebar-width);
    height: 100%;
    top: 0;
    position: absolute;
    pointer-events: none;
    right: var(--sidebar-margin);
}

#playlist_editor {
    width: calc(100% - 3 * var(--playlist-column-padding));
    height: max(21em, calc(100% - var(--playback-height) - 3 * var(--playlist-column-margin)));
    background-color: rgb(196, 196, 196);
    border-color: black;
    border-width: 1;
    border-style: solid;
    border-radius: 2%;
    margin: var(--playlist-column-margin);
    align-items: center;
}

#playback {
    width: calc(100%);
    height: var(--playback-height);
    background-color: var(--background-color);
    margin: var(--playlist-column-margin);
}

#scroll_list {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    overflow: auto;
}
