:root {
    --background-color: black;
    --titlebar-height: 2rem;
    --playlist-column-margin: 1rem;
    --playlist-column-width: 30rem;
    --sidebar-width: 3rem;
    --playback-height: 3rem;
    /* --playlist-column-margin: 1em; */
    --sidebar-margin: .5rem;
}

body {
    margin: 0px;
}

#titlebar {
    width: 100%;
    height: var(--titlebar-height);
    background-color: var(--background-color);
}

#graph_window {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
}

#playlist_column {
    width: var(--playlist-column-width);
    height: calc(100% - var(--titlebar-height));
    position: absolute;
}

#sidebar_column {
    width: var(--sidebar-width);
    height: 100%;
    top: 0;
    position: absolute;
    pointer-events: none;
    right: var(--sidebar-margin);
}

#playlist_editor {
    width: calc(100% - 3 * var(--playlist-column-padding));
    height: max(34em, calc(100% - var(--playback-height) - var(--playlist-column-margin)));
    background-color: rgb(196, 196, 196);
    border-color: black;
    border-width: 1;
    border-style: solid;
    border-radius: 2%;
    overflow: hidden;
    margin: var(--playlist-column-margin);
    align-items: center;
}

#playback {
    width: calc(100%);
    height: var(--playback-height);
    background-color: var(--background-color);
    margin: var(--playlist-column-margin);
}

img.thumb{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    overflow: hidden;
}

td{
    height: 8vh;
}

td.imgSpace{
    width: 10%;
}

td.titleSpace{
    color: white;
    width: 40%;
}

table tr:hover td{
    background-color: grey;
}

table{
    border-collapse: collapse;
}
    
#scroll_list {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    overflow: auto;
}

/* div.gallery{
    height: 100%;
    width: 100%;
} */ 

/* img.gallery{
    max-width: 25%;
    max-height: 25%;
} */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
    height: 200px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    max-width: 150px;
    max-height: 150px;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
